<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Register for Course!</title>

    <script type="text/javascript" nonce="dd4361c693e1459ab95ffe0f624" src="//local.adguard.org?ts=1613046649166&amp;type=content-script&amp;dmn=ide-d0b7a1b5edb84e44b99e570ddb4c3e86.ide.cs50.io&amp;css=1&amp;js=1&amp;gcss=1&amp;rel=1&amp;rji=1"></script>
<script type="text/javascript" nonce="dd4361c693e1459ab95ffe0f624" src="//local.adguard.org?ts=1613046649166&amp;name=AdGuard%20Extra&amp;name=AdGuard%20Assistant&amp;type=user-script"></script></head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>